body {
font-family: 'Poppins', sans-serif;
}
* {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
	display: flex;
}
a {
	text-decoration: none;
}
header {
	background: #f6f6f6;
	padding: 22px 0;
}
.logo  {
	margin-left: 20px;
}
.header-container {
	width: 90%;
	margin: 0 auto; /*расположение по середине*/
	display: flex;
	justify-content: space-between;
}
.header-container a {
	color: #000;
	font-size: 16px;
	padding: 27px 6px;
	margin-right: 63px;
}
.header-container a:hover {
	background: #ffea00;
}
#menu-checkbox {
	display: none;
}
ul {
	display: flex;
}
nav {
margin-top: 20px;
}
.top-slide {
	background: url(img/slider_bg.png) no-repeat;
	padding-top: 120px;
	padding-bottom: 280px;
}
.top-container {
	width: 85%;
	margin: 0 auto;
}
.top-slide h2 {
	background:  #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}
.top-slide :nth-child(2){
margin-bottom: 10px;
}
.top-slide p {
	background: #414146;
	display: inline;
	font-size: 24px;
	color: #fff;
	padding: 0 13px;
}
.specialize-container {
	width: 90%;
	margin: 0 auto;
	text-align: center;

}
.specialize-container h3 {
	text-transform: uppercase;
	font-size: 35px;
}
.specialize-container p {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 24px;
}
.specialize-cards{
	display: flex;
	justify-content: space-between;
}
.first-p {
	font-size: 20px;
	color: #fff;
}
.bottom-card {
	background: #414146;
	position: relative;
	top: -30px;
}
.portfolio {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.portfolio h4 {
	display: block;
	background: #424147;
	padding: 0 8px;
	font-size: 18px;
	color: #f5e10a;
	margin-bottom: 30px;
}
.portfolio p {
	color:  #424146;
	font-size: 16px;
}
.toggles button {
	border: none;
	color: #424146;
	cursor: pointer;
	font-size: 16px;
	margin: 20px 5px;
}
.toggles button:after {
	content: ' / ';
}
.toggles button:last-child:after {
	content: ' ';
}
.posts {
	width: 90%;
	display: grid;
	grid-template-columns: auto auto auto auto;
	margin: 0 auto;
}
.brand-slider {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.brand-slider h4 {
	margin-top: 40px;
	display: inline-block;
	background: #424147;
	padding: 0 8px;
	font-size: 18px;
	color: #f5e10a;
	margin-bottom: 30px;
}
.brand-slider p {
	color:  #424146;
	font-size: 16px;
	margin-bottom: 30px;
}
footer {
	background: #424146;
	padding: 30px 0;
	color: #fff;
}
footer h4 {
	font-size: 18px;
}
.footer-container {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 40% 30% 20%;
	grid-column-gap: 3%;
}
.about-us a{
	background: #000;
	color: #fff;
	border-bottom: 2px solid #eeda00;
	font-size: 15px;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 40px;
	display: inline-block;
}
.images {
	margin-top: 10px;
}
.tweets p{
	margin-top: 20px;
}
@media screen and (max-width: 420px) {
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-between; /*опрд как браузер распред пространство*/
	}
	.main-menu {
		display: none;
	}
	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}
	.main-menu a {
		display: block;
		padding: 8px;
	}
	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
	}
	.toggle-button:after {
		content: attr(data-open); /*доступ к атирибуту*/
		display: block;
		margin-right: 20px;
	}
	#menu-checkbox:checked + nav[role="navigator"] .main-menu {
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigator"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a {
		margin-right: -65px;
	}
	.main-menu {
		position: relative;
		top: 30px;
		right: 115px;
	}
	.top-slide {
    padding-top: 40px;
    padding-bottom: 40px;
	}
	.top-slide h2 {
		font-size: 32px;
	}
	.top-slide p {
		font-size: 16px;
	}
	.specialize-container p {
		font-size: 16px;
	}
	.specialize-cards {
		display: flex;
		flex-direction: column;
	}
	.bottom-card {
		width: 250px;
		margin: 0 auto;
	}
	.posts {
	width: 90%;
	display: grid;
	grid-template-columns: auto;
	margin: 0 auto;
	}
}
/*@media screen and (max-width: 700px){
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-between; 
	}
	.main-menu {
		display: none;
	}
	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}
	.main-menu a {
		display: block;
		padding: 8px;
	}
	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
	}
	.toggle-button:after {
		content: attr(data-open); 
		display: block;
		margin-right: 20px;
	}
	#menu-checkbox:checked + nav[role="navigator"] .main-menu {
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigator"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a {
		margin-right: -65px;
	}
	.main-menu {
		position: relative;
		top: 30px;
		right: 115px;
	}

}*/